@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
.suk:hover {
  box-shadow: 
  0 0 10px #0ef,
  0 0 20px #3bace2,
  0 0 40px #0ef,
  0 0 80px #0ef,
  0 0 160px #0ef;
}
.raj:hover {
  box-shadow: 
  0 0 10px #f705eb,
  0 0 20px #f705eb,
  0 0 30px #f705eb,
  0 0 60px #f705eb,
  0 0 130px #f705eb;
}

.grd:hover{
  box-shadow: 
  0 0 10px #f705eb,
  0 0 20px #ff56f6,
  0 0 40px #b936ee,
  0 0 80px #0ef,
  0 0 160px #406aff;
}
.mos{
  background: transparent;
  position: relative;
  display: block;
  line-height: 60px;
  border-radius: 50%;
  transition: .5s;
}
.mos:hover{
  color: #f705eb;
  box-shadow: 0 0 15px #0ef;
  background: #000;
  height: 60px;
  width: 60px;
}
.los{
  background: transparent;
  position: relative;
  display: block;
  line-height: 60px;
  border-radius: 4px;
  transition: .5s;
}
.los:hover{
  color:#f705eb;
  box-shadow: 0 0 15px #0ef;
  background: #000;
  border-radius: 4px;
  font-size: 30px; 
  height: 60px;
  width: 60px;
}
.bos{
  background: transparent;
  position: relative;
  display: block;
  line-height: 60px;
  transition: .5s;
  border-radius: 17px;
}
.bos:hover{
  color: #f705eb;
  box-shadow: 0 0 15px #0ef;
  background:  #000;
  font-size: 30px; 
  border-radius: 17px;
  height: 60px;
  width: 60px;
}
.load {
  margin: auto;
  filter: drop-shadow(  0 0 20px #0ef); 
}

.yan{
  filter: drop-shadow(0 0 12px #f705eb);
}
.yan:hover{
  filter: drop-shadow(10px 10px 10px#0ef);
}
.kal{
  filter: drop-shadow(10px 10px 20px#0ef);
}
.kal:hover{
  filter: drop-shadow(10px 10px 20px#f705eb);
}
.rt:hover{
  filter: drop-shadow(0 0 12px #0ef);
}
  


@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
